[[source]]
url = "https://pypi.tuna.tsinghua.edu.cn/simple"
verify_ssl = true
name = "pip_conf_index_global"

[packages]
bingimagecreator = "==0.4.4"
pytelegrambotapi = "*"
requests = "*"
pytz = "*"

[dev-packages]

[requires]
python_version = "3.9"
